<html>
<head>
	<title>G_G</title>
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.2.js"></script>
	<script src="angular.min.js"></script>
	<script src="admin.js"></script>
	<style>
		.pointinput {
			width:70px;
		} 
		ul {
			list-style: none;
		}
	</style>
</head>
<body ng-app="admin" ng-controller="main">

<div class="team-widget">
	<div class="lespookypanel">
		<input ng-model="spook" type="password" ng-change="updatePassword(spook)"/>
	</div>
	<input ng-model="teamName"/> <button ng-click="addTeam(teamName)">Add Team</button>
	<h1>Teams</h1>
	<ul>
		<li ng-repeat="team in teams">
			<div teamedit="team"></div>
		</li>
	</ul>
</div>
</body>
</html>